---
import CountDownSection from "../components/CountDownSection.astro";
import MainSection from "../components/MainSection.astro";
import Layout from "../layouts/Layout.astro";

import flower from "../assets/rapunzel_cliparts/flower.png";
---

<Layout>
  <MainSection />
  <CountDownSection />
  <section class="section">
    <div>
      <p class="cursive text-4xl font-black text-center mt-14 text-primary">
        Te esperamos en...
      </p>
      <p class="mt-4 text-center font-semibold text-secondary text-pretty">
        Juventino Rosas, Tenorios, 09680 Ciudad de México, CDMX
      </p>
      <div
        class="mt-12 w-3/4 mx-auto p-1 bg-gradient-to-br from-[#69247C] to-[#DA498D] relative"
      >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d988.0036521265682!2d-99.02221535743072!3d19.33278495668419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce02b027a39de9%3A0x4d2dc776074cdce1!2sJuventino%20Rosas%2C%20Tenorios%2C%2009680%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1736746324598!5m2!1ses-419!2smx"
          style="border:0; width: 100%; aspect-ratio: 1/1;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <img src={flower.src} alt="" class="h-20 absolute -bottom-7 -right-3 z-10" />
      </div>
    </div>
  </section>
</Layout>
