---
import MapIcon from "./icons/MapIcon.astro";

import flower from "../assets/rapunzel_cliparts/flower.webp";
import map from "../assets/images/mapa.png";
---

<section class="section">
  <div>
    <p class="cursive text-4xl font-black text-center mt-14 text-primary">
      Te esperamos
    </p>
    <p
      class="cursive text-6xl font-black text-center mt-6 text-primary text-secondary"
    >
      <span id="hour">0</span>:00 PM
    </p>
    <p class="mt-6 text-center font-semibold text-primary text-pretty">
      En Juventino Rosas, Tenorios, 09680 Ciudad de México, CDMX
    </p>
    <div class="mt-8 animate_img w-auto">
      <a
        class="block hover:scale-105 shadow_map w-3/4 mx-auto transition-transform"
        href="https://maps.app.goo.gl/e97RKfvUQvx9bPsP7"
        target="_blank"
      >
        <img class="w-auto" src={map.src} alt="ubicacion del evento" loading="lazy" />
      </a>
    </div>
    <div class="mt-12 flex justify-center">
      <a
        href="https://www.google.com/maps/dir/?api=1&destination=19.332818184650108,-99.02219209052079&travelmode=driving"
        target="_blank"
        class="group relative py-3 px-6 flex items-center justify-center overflow-hidden rounded bg-secondary font-semibold text-xl text-white transition hover:scale-105"
        ><span class="flex items-center gap-2"
          >Como llegar <i><MapIcon /></i></span
        ><div
          class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:duration-1000 group-hover:[transform:skew(-12deg)_translateX(100%)]"
        >
          <div class="relative h-full w-8 bg-white/20"></div>
        </div></a
      >
    </div>
  </div>
  <img
    src={flower.src}
    alt="Maximus"
    class="absolute bottom-0 left-3 -z-10 h-32"
    loading="lazy"
  />
</section>
<script>
  import { animateNumbers } from "../helpers/animations"

  const $hour = document.getElementById("hour");
  animateNumbers(0, 4, $hour);
</script>