---
import "@fontsource/poppins";
import "@fontsource-variable/dancing-script";

import acuarela from "../assets/background.svg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mi Cumpleaños</title>
  </head>
  <body>
    <div
      class="bg-center bg-cover max-w-md w-full mx-auto"
      style={`background-image: url(${acuarela.src});`}
    >
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #1a1a1a;
    font-display: block;
  }

  .cursive {
    font-family: "Dancing Script Variable", cursive;
  }

  .kalam {
    font-family: "Kalam", cursive;
  }

  .section {
    @apply max-w-md w-full mx-auto px-4 py-3 relative overflow-x-hidden overflow-y-clip h-lvh;
  }

  @media (orientation: landscape) and (max-width: 640px) {
    .section {
      @apply h-auto;
    }
  }

  .text-primary {
    @apply text-[#69247C];
  }

  .text-secondary {
    @apply text-[#DA498D];
  }

  .bg-primary {
    @apply bg-[#69247C];
  }

  .bg-secondary {
    @apply bg-[#DA498D];
  }

  .shadow_map {
    box-shadow:
      rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px,
      rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px,
      rgba(240, 46, 170, 0.05) 25px 25px;
  }
</style>
