---
import "@fontsource/poppins";
import "@fontsource-variable/dancing-script";

import "animate.css";

import acuarela from "../assets/background.svg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="¡Estás invitado a la fiesta de cumpleaños de Mariana Valentina! Únete a la celebración el 15 de Febrero de 2025. Haz clic para más detalles."
    />
    <meta property="og:title" content="Invitación de Cumpleaños de Mariana Valentina" />
    <meta
      property="og:description"
      content="¡Estás invitado a la fiesta de cumpleaños de Mariana Valentina! Únete a la celebración el 15 de Febrero de 2025. Haz clic para más detalles."
    />
    <meta property="og:image" content="/captura.png" />
    <meta property="og:url" content="https://mi-cumple-blush.vercel.app/" />
    <meta property="og:type" content="website" />

    <title>
      Invitación de Cumpleaños de Mariana Valentina - 15/Febrero/2025
    </title>
  </head>
  <body>
    <div
      class="bg-center bg-cover max-w-md w-full mx-auto"
      style={`background-image: url(${acuarela.src});`}
    >
      <slot />
    </div>
    <audio id="audio" src="/sounds/rapunzel.mp3"></audio>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #1a1a1a;
    font-display: swap;
  }

  @font-face {
    font-display: swap;
  }

  .cursive {
    font-family: "Dancing Script Variable", cursive;
  }

  .kalam {
    font-family: "Kalam", cursive;
  }

  .section {
    @apply max-w-md w-full mx-auto px-4 py-3 relative overflow-x-hidden overflow-y-clip h-lvh;
  }

  @media (orientation: landscape) and (max-width: 640px) {
    .section {
      @apply h-auto;
    }
  }

  .text-primary {
    @apply text-[#69247C];
  }

  .text-secondary {
    @apply text-[#DA498D];
  }

  .bg-primary {
    @apply bg-[#69247c];
  }

  .bg-secondary {
    @apply bg-[#da498d];
  }

  .shadow_map {
    box-shadow:
      rgba(218, 73, 141, 0.4) 0px 0px 0px 2px,
      rgba(218, 73, 141, 0.65) 0px 4px 6px -1px,
      rgba(105, 36, 124, 0.08) 0px 1px 0px inset;
  }
</style>
<script>
  const $audio = document.getElementById("audio") as HTMLAudioElement;

  document.addEventListener("DOMContentLoaded", () => {
    if ($audio) {
      $audio.play();
      $audio.volume = 0.2;
    }
  });
</script>
